body {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(45deg, #ff9f13 0%, rgb(203, 126, 17) 100%);*/
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: Avenir;
}

.img2l {
    z-index: -1;
    position: fixed;
    margin: 0;
    padding: 0;
}

.loginpage {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.slideCenterl {
    height: 100vh;
    /*
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    */
    margin: 0px;
    padding: 0px;
    display: flex;
    color: #343434;
    font-weight: bold;
    font-size: 3em;
}

.titlel1 {
    text-align: left;
    margin-left: 2vw;
}

.titlel2 {
    margin-top: 0.8ch;
    color: #fa9038;
    font-size: 40px;
    position: fixed;
}

.username {
    border: solid #fa9038 1px;
}

form {
    font-size: 0;
}

form input {
    font-size: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.inputtext {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 15px;
    color: #fa9038;
}

.inputfield {
    z-index: 1;
    margin: 0px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #fa9038;
    border: none;
    margin-left: 1vw;
    width: 80%;
}

.new {
    margin: 0;
    margin-top: 0.5vh;
    color: #fa9038;
    font-size: 15px;
}

.password {
    border: solid #fa9038 1px;
    margin-top: -1px;
}

.titlel3 {
    font-size: 40px;
    margin-top: 10ch;
    margin-right: 10vw;
    color: #fa9038;
}

.login2 {
    margin-top: 5vh;
    width: 25%;
    border: solid #fa9038 1px;
}

.text2 {
    margin: 0;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 1vh;
    background: transparent;
    box-shadow: none;
    border: solid #fa9038 1px;
    color: #fa9038;
    font-size: 25px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.login-area {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("slate2.jpg");
    background-size: 100vw;
    overflow: hidden;
}

.signup-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    overflow: hidden;
}

.login-box {
    position: relative; /*must be relative*/
    width: 50vh;
    height: 50vh;
    padding: 10px;
    background: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-box {
    position: relative; /*must be relative*/
    width: 50vh;
    height: 50vh;
    padding: 10px;
    background-image: url("slate2.jpg");
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signupRedirect {
    position: absolute;
    right: 0;
    top: 0;
    width: 10vw;
    height: 10vh;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.loginRedirect {
    position: absolute;
    left: 90vw;
    top: 0;
    width: 10vw;
    height: 10vh;
    background-image: url("slate2.jpg");
    background-size: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.signupPage {
    width: 100vw;
    height: 100vh;
    background: orange;
}

.signupRedirect:hover {
    background-color: darkorange;
}

.loginRedirect:hover {
    background-color: darkgray;
}

.inputSubmitOrange {
    padding:5px 15px;
    background-color: orange;
    cursor:pointer;
    border-radius: 0;
    font-weight: normal;
    font-size: smaller;
}

.inputSubmitGray {
    padding:5px 15px;
    background-image: url("slate2.jpg");
    background-size: 100vw;
    cursor:pointer;
    border-radius: 0;
    font-weight: normal;
    font-size: smaller;
}
.username-font {
    font-weight: normal;
    font-size: smaller;
    text-align: left;
}
