.h1 {
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
}

header > h1 {
    color: white;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container {
    text-align: left;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container2 {
    height: 100vh;
    /*
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    */
    margin: 0px;
    padding: 0px;
    display: flex;
    color: #343434;
    font-weight: bold;
    font-size: 3em;
}

.img2p {
    z-index: -1;
    position: fixed;
    margin: 0;
    padding: 0;
}

.main {
    display: inline-flex;
    flex-direction: row;
    font-size: 30px;
    color: #fa9038;
}

.titlepp {
    margin-top: 0.8ch;
    color: #fa9038;
    font-size: 40px;
    position: fixed;
    margin-left: 2vw;
}

.profile {
    align: left;
    float: left;
    width: 33%;
    margin-top: 7ch;
    text-align: left;
    margin-left: 7vw;
}

.feed {
    align: right;
    float: right;
    margin-left: 10vw;
}

.clear {
    clear: both;
}

.ppform {
    margin-top: 10vh;
}

.searchBar {
    z-index: 1000;
    margin: 0px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-bottom: 1vh;
    color: #fa9038;
    border: none;
    margin-left: 1vw;
    width: 80%;
}

.search {
    border: solid #fa9038 1px;
}

.searchfrt {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 15px;
    color: #fa9038;
}
