@font-face {
    font-family: Avenir;
    src: url(AvenirLTStd-Book.otf);
}

table {
    padding-top: 3vh;
    margin-left: 2vw;
    margin-bottom: 3vh;
    box-shadow: gray;
    background: white;
}

table, td, th {
    border-spacing: 3px;
}

td {
    height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Avenir;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
}

th {
    border-top: thin dotted #ccc;
    font-size: 0.9rem;
    font-family: Avenir;
}

.days {
    border-right: thin dotted #ccc;
}

.rdiv {
    border: darkgray solid;
    border-width: 1px;
    width: 60vw;
    margin-left: 4vw;
    margin-bottom: 4vw;
    margin-top: 10px;
    box-shadow: 5px 5px 0px grey;
    blur-radius: none;
    background: white;
}

.a {background-color: #FFA726;}
.b {background-color: #9CCC65;}
.c {background-color: #FF8A65;}
.d {background-color: #B3E5FC;}
.e {background-color: #81D4FA;}
.f {background-color: #26C6DA;}