@font-face {
    font-family: Avenir;
    src: url(AvenirLTStd-Book.otf);
}

table {
    padding-top: 3vh;
    margin-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 3vh;
    box-shadow: gray;
    background: white;
}

ftd {
    border-collapse: separate;
}

table, td, th {
    border-spacing: 3px;
}

.blocks {
    white-space: nowrap;
}

td {
    padding-right: 10px;
    padding-left: 10px;
    font-family: Avenir;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
}

th {
    border-top: thin dotted #ccc;
    font-size: 0.9rem;
    font-family: Avenir;
}

.days {
    border-right: thin dotted #ccc;
}

h1 {
    font-family: Avenir;
}

.AddSchedule {
    display: flex;
    height: max-content;
    flex-direction: row;
    vertical-align: top;
    horizontal-align: center;
}

.button {
    width: 10vw;
    height: 5vh;
    background-color: orange;
    border: solid black 1px;
}

.rdiv {
    border: darkgray solid;
    border-width: 1px;
    margin-left: 8vw;
    margin-bottom: 4vw;
    margin-top: 10px;
    box-shadow: 5px 5px 0px grey;
    blur-radius: none;
    background: white;
}

.a {background-color: #FFA726;}
.b {background-color: #9CCC65;}
.c {background-color: #FF8A65;}
.d {background-color: #B3E5FC;}
.e {background-color: #81D4FA;}
.f {background-color: #26C6DA;}

.scheduleout {
    text-align: left;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.schedulein {
    height: 100vh;
    /*
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    */
    margin: 0px;
    padding: 0px;
    display: flex;
    color: #343434;
    font-weight: bold;
    font-size: 3em;
}

.img2s {
    pointer-events: none;
    position: fixed;
    margin: 0;
    padding: 0;
}

.titless {
    margin-top: 0.8ch;
    color: #fa9038;
    font-size: 40px;
    position: fixed;
    margin-left: 2vw;
}

.add {
    margin-top: 25vh;
    margin-left: 5vw;
    font-size: 30px;
    color: #fa9038;
}

.firstbox {
    border: solid #fa9038 1px;
}

.secondaryBox {
    border: solid #fa9038 1px;
    margin-top: -1px;
}

.inputtext2 {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 15px;
    color: #fa9038;
}

.inputfield2 {
    margin: 0px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #fa9038;
    border: none;
    margin-left: 1vw;
    width: 80%;
}

.text4 {
    margin: 0;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 1vh;
    background: transparent;
    box-shadow: none;
    border: solid #fa9038 1px;
    color: #fa9038;
    font-size: 25px;
    cursor: pointer;
}
