.settingsBox {
    display: flex;
    flex-direction: column;
}

.settingButton {
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    margin-bottom: -1px;
    background: transparent;
    box-shadow: none;
    border: solid #fa9038 1px;
    color: #fa9038;
    font-size: 25px;
    cursor: pointer;
    width: auto;
}

.settingButton2 {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    margin-bottom: -1px;
    background: transparent;
    box-shadow: none;
    border: solid #fa9038 1px;
    color: #fa9038;
    font-size: 25px;
    cursor: pointer;
}

.settingButton3 {
    margin: 0;
    margin-top: 1vh;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    text-align: center;
    margin-bottom: -1px;
    background: transparent;
    box-shadow: none;
    border: solid #fa9038 1px;
    color: #fa9038;
    font-size: 25px;
    cursor: pointer;
    width: auto;
}
