body {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(45deg, #ff9f13 0%, rgb(203, 126, 17) 100%);*/
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: Avenir;
}

.title {
    text-align: left;
    margin-left: 2vw;
}

.title2 {
    margin-top: 0.8ch;
    color: #fa9038;
    font-size: 40px;
    position: fixed;
}

.img2 {
    pointer-events: none;
    position: fixed;
    margin: 0;
    padding: 0;
}

.title3 {
    font-size: 20px;
    margin-right: 10vw;
    color: #fa9038;
}

.title4 {
    font-size: 40px;
    color: #fa9038;
    margin-top: 10ch;
}

.enter {
    margin-top: 2ch;
    width: 25vw;
    height: 7ch;
    display: flex;
}

hr {
    display: block;
    height: 1px;
    width: 50%;
    align: left;
    border: 0;
    border-top: 1px solid #fa9038;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    padding: 0;
}

.login {
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    border: solid #fa9038 1px;
    width: 20vw;
    height: 5ch;
    line-height: 5ch;
    margin-bottom: 1ch;
    text-align: center;
}

.text {
    color: #fa9038;
}

.signup {
    line-height: 5ch;
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 20vw;
    height: 5ch;
    border: solid #fa9038 1px;
    text-align: center;
    margin-left: 6vw;
    color: #fa9038;
}

.login > h3 {
    margin-top: 0;
}

.signup > h3 {
    margin-top: 0;
}

.img {
    margin-left: 5vw;
    margin-right: 5vw;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    background-color: #fa9038;
    margin-bottom: 0;
    padding-bottom: 30px;
    color: #f5f5f5;
    font-family: Avenir;
}

.footer1 {
    text-align: left;
    margin-left: 3vw;
    margin-top: 5vh;
}

.footer2 {
    text-align: right;
    margin-top: 5vh;
    margin-right: 5vw;
    align: right;
    flex: 2;
}

.copyright {
    margin-top: 5vh;
    font-size: 15px;
    color: #F0F0F0;
}

.slideCenter {
    min-height: 100vh;
    /*
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    */
    margin: 0px;
    padding: 0px;
    display: flex;
    color: #343434;
    font-weight: bold;
    font-size: 3em;
}

.slideLeft {
    height: 100vh;
    color: #343434;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 55vw;
    font-size: 3em;
}
.slideRight {
    height: 100vh;
    color: #343434;
    text-align: right;
    font-weight: bold;
    padding-right: 5vw;
    padding-left: 55vw;
    font-size: 3em;
}

.stickydiv {
    position: -webkit-sticky;
    position: sticky;
    top: 5vw;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.tabb {
    position: fixed;
    left: 35vw;
    top: -2vw;
    background: gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffda00;
    border-width: 0px;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
    width: 30vw;
    height: 10vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slates {
    position: relative;
    left: 47vw;
    background: gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffda00;
    border-width: 0px;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
    width: 70vw;
    height: 20vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slatesY {
    position: relative;
    right: 63vw;
    background: gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffda00;
    border-width: 0px;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
    width: 70vw;
    height: 20vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
