body {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(45deg, #ff9f13 0%, rgb(203, 126, 17) 100%);*/
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-image: url("splash_background.jpg")
}

.main {
    width: 100vw;
    height: 500vh;
}

.slideCenter {
    height: 100vh;
    /*
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343434;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3em;
}
.slideLeft {
    height: 100vh;
    color: #343434;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-left: 10px;
    padding-right: 55vw;
    font-size: 3em;
}
.slideRight {
    height: 100vh;
    color: #343434;
    text-align: right;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-right: 5vw;
    padding-left: 55vw;
    font-size: 3em;
}

.stickydiv {
    position: -webkit-sticky;
    position: sticky;
    top: 5vw;
}

.container {
    width: 100vw;
    height: 100vh;
}

.tabb {
    position: fixed;
    left: 35vw;
    top: -2vw;
    background: gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffda00;
    border-width: 0px;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
    width: 30vw;
    height: 10vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.slates {
    position: relative;
    left: 47vw;
    background: gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffda00;
    border-width: 0px;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
    width: 70vw;
    height: 20vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.slatesY {
    position: relative;
    right: 63vw;
    background: gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffda00;
    border-width: 0px;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
    width: 70vw;
    height: 20vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}